<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<%= f.text_field :name, :size => "10x1",class: "form-control", id: "exampleInputname", placeholder: "Enter name" %>
<%= f.text_area :body, :size => "10x1",class: "form-control", id: "exampleInputname", placeholder: "Enter body" %>
<%= f.text_area :age, :size => "10x1",class: "form-control", id: "exampleInputage", placeholder: "Enter age" %>
<%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>